/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: poppins !important; font-size: 16px !important; }
element.style {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    font-size: 14px;
    background: #EEF2FF;
    color: #222222;
    z-index: 999999999;
    text-align: left;
    border: 1px solid #EEEEEE;
    padding: 10px 11px 10px 50px;
    border-radius: 8px;
    font-family: Helvetica Neue, Helvetica, Arial;
    display: none;
}
button.btn.btn-danger.btn-sm {
    background: gray;
    border: antiquewhite;
}
app-layouts app-homepage-layout2 .container, 
    app-layouts app-homepage-layout3 .container  {
    height: 315px !important
}
h1, h2, h3, h4, h5, h6 {
    font-family: poppins !important;
    }