<div class="container" *ngIf="pageData">
  
  <header >
    <ng-container *ngFor="let component of pageData.components">
      <ng-container *ngIf="componentMap[component.name]">
        <ng-container *ngIf="component.name === 'header'">
          <ng-container *dynamicComponent="{ component: componentMap[component.name].type,  data: { editMode: component.name  ? editMode : false }}"></ng-container>
        </ng-container>
        </ng-container>
        </ng-container>

  </header>
<!--     
  <div class="logo" *ngIf="componentMap['banner']?.added">
    <ng-container *dynamicComponent="{ component: componentMap['banner'].type, data: { editMode: editMode } }"></ng-container>
  </div> -->
  
  <nav class="navigation">Navigation</nav>
  
  <main>
    <aside class="sidebar" *ngIf="componentMap['carousel']?.added">
      <ng-container *dynamicComponent="{ component: componentMap['carousel'].type, data: { editMode: editMode } }"></ng-container>
    </aside>
    
    <section class="body-area">
      <section class="body-area">
<ng-container *ngFor="let component of pageData.components">
  <ng-container *ngIf="componentMap[component.name] && component.name !== 'header' && component.name !== 'footer' " >
    <ng-container *dynamicComponent="{ component: componentMap[component.name].type, data: { editMode: component.name ? editMode : false } }"></ng-container>
  </ng-container>
</ng-container>
</section>

      
    </section>
  </main>
  
  <footer >
    <ng-container *ngFor="let component of pageData.components">
      <ng-container *ngIf="componentMap[component.name]">
        <ng-container *ngIf="component.name === 'footer'">
    <ng-container *dynamicComponent="{ component: componentMap['footer'].type, data: { editMode: editMode } }"></ng-container>
 </ng-container>
 </ng-container>
 </ng-container>
  </footer>
</div>
